<section class="header clearfix">
  <h1 class="pull-left">Macvlan IP</h1>
</section>
<section class="mt-30">
  {{#custom-table
       tableClassNames="bordered"
       paging=true
       hasBulkActions=false
       primaryKeyName="id"
       search=(action "search")
       sortChanged=(action "sortChanged")
       headers=headers
       data=data
       selectData=selectData
       selectValue=projectId
       hasSelect=hasSelect
       pageChange=(action 'pageChange')
       nextData=next
       as |sortable kind obj dt|
  }}
    {{#if (eq kind "row")}}
      <tr class="main-row">
        <td data-title="{{dt.name}}">
          {{#tooltip-element
              classNames="clip max-full-width"
              type="tooltip-basic"
              tooltipTemplate='-tooltip-break-all'
              model=obj.name
              inlineBlock=true
              placement="top"
          }}
            {{obj.name}}
          {{/tooltip-element}}
        </td>
        <td data-title="{{dt.subnet}}">
          {{#tooltip-element
              classNames="clip block pr-5"
              type="tooltip-basic"
              tooltipTemplate='-tooltip-break-all'
              model=obj.subnet
              inlineBlock=true
              placement="top"
          }}
            {{obj.subnet}}
          {{/tooltip-element}}
        </td>
        <td data-title="{{dt.namespace}}">
          {{obj.namespace}}
        </td>
        <td data-title="{{dt.cidr}}">
          {{obj.cidr}}
        </td>
        <td data-title="{{dt.ipType}}">
          {{#if obj.ipType}}
            {{t (concat 'vlansubnetPage.ipType.' obj.ipType)}}
          {{else}}
            {{obj.ipType}}
          {{/if}}
        </td>
        <td data-title="{{dt.mac}}">
          {{#tooltip-element
              classNames="clip block pr-5"
              type="tooltip-basic"
              tooltipTemplate='tooltip-static'
              model=obj.mac
              inlineBlock=true
              placement="top"
          }}
            {{obj.mac}}
          {{/tooltip-element}}
        </td>
        <td data-title="{{dt.podId}}">
          {{#tooltip-element
              classNames="clip block pr-5"
              type="tooltip-basic"
              tooltipTemplate='tooltip-static'
              model=obj.podId
              inlineBlock=true
              placement="top"
          }}
            {{obj.podId}}
          {{/tooltip-element}}
        </td>
        <td data-title="{{dt.workloadName}}">
          {{obj.workloadName}}
        </td>
        <td class="text-right pr-20">
          {{date-calendar obj.creationTimestamp}}
        </td>
      </tr>
    {{else if (eq kind "nomatch")}}
      <tr><td colspan="{{sortable.fullColspan}}" class="text-center text-muted lacsso pt-20 pb-20">{{t "vlansubnetPage.noMatch"}}</td></tr>
    {{else if (eq kind "norows")}}
      <tr><td colspan="{{sortable.fullColspan}}" class="text-center text-muted lacsso pt-20 pb-20">{{t "vlansubnetPage.noData"}}</td></tr>
    {{/if}}
  {{/custom-table}}
</section>


