{{#unless isPopup}}
  {{#if sidebar}}
  {{page-header-left-top
    pageScope=pageScope
    goToPrevious="goToPrevious"
  }}
  {{page-header-left
    pageScope=pageScope
    goToPrevious="goToPrevious"
  }}
  {{else}}
  {{page-header
    pageScope=pageScope
    goToPrevious="goToPrevious"
  }}
  {{/if}}
{{/unless}}
<main class="clearfix {{if sidebar "sidebar"}}">
  {{outlet}}
</main>
{{#unless isPopup}}
  {{page-footer
    showAbout="showAbout"
  }}
{{/unless}}
