<section class="header has-tabs clearfix pb-0">
  <ul class="tab-nav">
    <li>
      {{#link-to "image-repo.projects.detail.summary" model.projectId}}{{t "harborConfig.tab.summary"}}{{/link-to}}
    </li>
    <li>
      {{#link-to "image-repo.projects.detail.repositories" model.projectId}}{{t "harborConfig.tab.store"}}{{/link-to}}
    </li>
    <li>
      {{#link-to "image-repo.projects.detail.members" model.projectId}}{{t "harborConfig.tab.member"}}{{/link-to}}
    </li>
    <li>
      {{#link-to "image-repo.projects.detail.replications" model.projectId}}{{t "harborConfig.tab.copy"}}{{/link-to}}
    </li>
    <li>
      {{#link-to "image-repo.projects.detail.labels" model.projectId}}{{t "harborConfig.tab.tag"}}{{/link-to}}
    </li>
    <li>
      {{#link-to "image-repo.projects.detail.logs" model.projectId}}{{t "harborConfig.tab.log"}}{{/link-to}}
    </li>
    <li>
      {{#link-to "image-repo.projects.detail.configs" model.projectId}}{{t "harborConfig.tab.accessLevel"}}{{/link-to}}
    </li>
  </ul>
</section>
<section>
replications

</section>