<div class="quota-item-namespace-cn">
  <div style="width: 240px;min-width:240px;">
    <div class="quota-item-edit">
      {{#basic-dropdown
          horizontalPosition="right"
          calculatePosition=(action "calculatePosition" )
          onOpen=(action 'actionsOpen')
          onClose=(action 'actionsClosed')
          as |dd|
      }}

        {{#dd.trigger
            ariaLabel=(t 'generic.moreActions')
            class=(concat "btn bg-transparent more-actions " sizeClass)
        }}
          <i class="icon icon-fw icon-vertical-ellipsis"></i>
        {{/dd.trigger}}

        {{#dd.content class="resource-actions global-actions"}}

          <li style="cursor: pointer;">
            {{action-menu-item
              label="action.edit"
              icon="icon icon-edit"
              action=(action "clickedAction")
            }}
          </li>

        {{/dd.content}}

      {{/basic-dropdown}}
    </div>
    <div class="quota-title">
      <b>{{quotaName}}</b>
      <span>
        {{quotaState}}
      </span>
    </div>
    <div class="quota-container">
      <span>
        {{firstLetterQuotaName}}
      </span>
      <div class="quota-container-size">
        {{#if (eq percent 'N/A')}}
          <b>{{percent}}</b>
        {{else}}
          <b>{{percent}}%</b>
        {{/if}}
      </div>
      <div class="quota-container-state">
        {{t 'quotasCn.common.usage'}}
      </div>
    </div>
    <div class="quota-progress">
      <div class="quota-progress-precent">
        <span>{{t 'quotasCn.common.use'}} <span style="font-size: 12px;">{{used}}</span></span>
        <br>
        <span>{{t 'quotasCn.common.total'}} <span style="font-size: 12px;">{{quotaTotalText}}</span></span>
      </div>
      {{#if (eq percent 'N/A')}}
        {{progress-bar
          percent=0
          color='quota'
        }}
      {{else}}
        {{progress-bar
          percent=percent
          color='quota'
        }}
      {{/if}}
      <div class="quota-progress-total">
         <span style="font-size: 12px;">{{t 'quotasCn.remain'}} <span style="font-size: 12px;">{{available}}</span></span>
      </div>
    </div>
  </div>
</div>
