<section class="header clearfix">
  <h1 class="pull-left">审计日志</h1>
</section>
<section>
  <div class="row">
    <div class="col span-2">
      {{new-select
        value=form.field
        content=searchFields
      }}
    </div>
    <div class="col span-3">
      {{input
        class="form-control"
        value=form.fieldValue
        placeholder=fieldPlaceholder
      }}
    </div>
    <div class="col span-2">
      {{new-select
        value=form.operation
        content=operations
      }}
    </div>
    <div class="col span-2">
      {{new-select
        value=form.dateRange
        content=dateRanges
      }}
    </div>
    <div class="col span-2">
       <button class="btn bg-danger" {{action "clear"}}>全部清除</button>
        <button class="btn bg-primary" {{action "search"}}>搜索</button>
    </div>
  </div>
</section>
<section class="mt-30">
  {{#custom-table
       tableClassNames="bordered"
       hasBulkActions=false
       search=false
       paging=false
       primaryKeyName="id"
       sortChanged=(action "sortChanged")
       pageChange=(action 'pageChange')
       headers=headers
       availableActions=availableActions
       data=rows
       nextData=next
       as |sortable kind obj dt|
  }}
    {{#if (eq kind "row")}}
      <tr class="main-row">
        <td data-title="{{dt.userID}}">
          {{obj.userID}}
        </td>
        <td data-title="{{dt.operation}}">
          {{obj.operation}}
        </td>
        <td data-title="{{dt.requestTimestamp}}">
          {{date-calendar obj.requestTimestamp}}
        </td>
        <td data-title="{{dt.clusterId}}">
          {{obj.clusterId}}
        </td>
        <td data-title="{{dt.requestResType}}">
          {{obj.requestResType}}
        </td>
        <td data-title="{{dt.requestResId}}">
          <a href="#" {{action "showDetail" obj}} >{{obj.requestResId}}</a>
        </td>
      </tr>
    {{else if (eq kind "nomatch")}}
      <tr><td colspan="{{sortable.fullColspan}}" class="text-center text-muted lacsso pt-20 pb-20">暂无匹配的数据</td></tr>
    {{else if (eq kind "norows")}}
      <tr><td colspan="{{sortable.fullColspan}}" class="text-center text-muted lacsso pt-20 pb-20">暂无数据</td></tr>
    {{/if}}
  {{/custom-table}}
</section>