<section class="header clearfix">
  <h1 class="pull-left">MacvlanSubnet</h1>
  <div class="vertical-middle"></div>
  <div class="right-buttons">
    <a href="#" {{action "newVlansubent"}} class="btn bg-primary btn-sm ml-10" >{{t "vlansubnetPage.createMacvlan"}}</a>
  </div>
</section>
<section class="mt-30">
  {{#custom-table
       tableClassNames="bordered"
       paging=true
       primaryKeyName="id"
       search=(action "search")
       sortChanged=(action "sortChanged")
       headers=headers
       bulkActions=true
       availableActions=availableActions
       selectChange=(action "selectChange")
       data=data
       hasRowActions=true
       remove=(action "promptDelete")
       pageChange=(action 'pageChange')
       nextData=next
       as |sortable kind obj dt|
  }}
    {{#if (eq kind "row")}}
      <tr class="main-row">
        <td valign="middle" class="row-check" style="padding-top: 2px;">
          {{check-box nodeId=obj.id}}
        </td>
        <td data-title="{{dt.name}}">
          {{#tooltip-element
              classNames="max-full-width"
              type="tooltip-basic"
              tooltipTemplate='-tooltip-break-all'
              model=(t 'vlansubnetPage.macvlanIpCount' total=obj.macvlanIpCount name=obj.name htmlSafe=true)
              inlineBlock=true
              placement="top"
          }}
            {{#link-to 'authenticated.cluster.macvlan-ip' (query-params subnet=obj.name) class="clip project-link block"}}
              {{obj.name}}
            {{/link-to}}
          {{/tooltip-element}}
        </td>
        <td data-title="{{dt.project}}">
          {{#if obj.project}}
          {{obj.project}}
          {{else}}
            All
          {{/if}}
        </td>
        <td data-title="{{dt.master}}">
          {{#tooltip-element
              classNames="max-full-width"
              type="tooltip-basic"
              tooltipTemplate='tooltip-static'
              model=obj.master
              inlineBlock=true
              placement="top"
          }}
            <div class="clip">
              {{obj.master}}
            </div>
          {{/tooltip-element}}
        </td>
        <td data-title="{{dt.vlan}}">
          {{#if obj.vlan}}
          {{obj.vlan}}
          {{/if}}
        </td>
        <td data-title="{{dt.cidr}}">
          {{obj.cidr}}
        </td>
        <td data-title="{{dt.ipRanges}}">
          {{#if (eq obj.ipRanges.length 1)}}
            {{obj.ipRanges.firstObject.rangeStart}}-{{obj.ipRanges.firstObject.rangeEnd}}
          {{else if (gt obj.ipRanges.length 1)}}
            {{#tooltip-element
                type="tooltip-basic"
                model=obj.ipRanges
                tooltipTemplate='-macvlan-subnet-ip-range'
                aria-describedby="tooltip-base"
                tooltipFor="progress-bar"
                inlineBlock=true
                baseClass="pl-0 pr-0"
                placement="top"
            }}
              <span class="inline-block">
                {{obj.ipRanges.firstObject.rangeStart}}-{{obj.ipRanges.firstObject.rangeEnd}}
              </span>
              <span>
                ···
              </span>
            {{/tooltip-element}}
          {{/if}}
        </td>
        <td data-title="{{dt.routes}}">
          {{#if (eq obj.routeList.length 1)}}
            <div class="pull-left" style="width: 150px;">
              <div class="text-small">
                <span class="badge-state vertical-middle" style="background: #BAD545;color: #fff;width: 37px;height:16px;">DST</span>
                {{obj.routeList.firstObject.dst}}
              </div>
              <div class="text-small">
                <span class="bg-warning badge-state vertical-middle" style="color: #fff;width: 37px;height:16px;">GW</span>
                {{obj.routeList.firstObject.gw}}
              </div>
              <div class="text-small">
                <span class="bg-primary badge-state vertical-middle" style="width: 37px;height:16px;">Iface</span>
                {{obj.routeList.firstObject.iface}}
              </div>
            </div>
          {{else if (gt obj.routeList.length 1)}}
          {{#tooltip-element
            type="tooltip-basic"
            model=obj.routeList
            tooltipTemplate='-macvlan-subnet-custom-route'
            aria-describedby="tooltip-base"
            tooltipFor="progress-bar"
            inlineBlock=true
            classNames="full-width"
            placement="top"
            baseClass="macvlan-custom-route-class pl-0 pr-0"
          }}
            <div class="pull-left" style="max-width: 150px;">
              <div class="text-small">
                <span class="badge-state vertical-middle" style="background: #BAD545;color: #fff;width: 37px;height:16px;">DST</span>
                {{obj.routeList.firstObject.dst}}
              </div>
              <div class="text-small">
                <span class="bg-warning badge-state vertical-middle" style="color: #fff;width: 37px;height:16px;">GW</span>
                {{obj.routeList.firstObject.gw}}
              </div>
              <div class="text-small">
                <span class="bg-primary badge-state vertical-middle" style="width: 37px;height:16px;">Iface</span>
                {{obj.routeList.firstObject.iface}}
              </div>
            </div>
            <div class="text-center pull-left" style="line-height: 63px; width: 20px;">···</div>
          {{/tooltip-element}}
          {{/if}}
        </td>
        {{!-- <td data-title="{{dt.mode}}" style="text-align: center;">
          {{obj.mode}}
        </td> --}}
        <td data-title="{{dt.gateway}}">
          {{obj.gateway}}
        </td>
        {{!-- <td>
          {{date-calendar obj.creationTimestamp}}
        </td> --}}
        <td data-title="{{dt.actions}}" class="actions">
        {{custom-action-menu model=obj resourceActions=rowActions menuClick=(action 'handleMenuClick')}}
        </td>
      </tr>
    {{else if (eq kind "nomatch")}}
      <tr><td colspan="{{sortable.fullColspan}}" class="text-center text-muted lacsso pt-20 pb-20">{{t "vlansubnetPage.noMatch"}}</td></tr>
    {{else if (eq kind "norows")}}
      <tr><td colspan="{{sortable.fullColspan}}" class="text-center text-muted lacsso pt-20 pb-20">{{t "vlansubnetPage.noData"}}</td></tr>
    {{/if}}
  {{/custom-table}}
</section>
{{#if model.vlansubnets.errorMsg}}
{{#banner-message color='bg-error m-0'}}
  {{model.vlansubnets.errorMsg}}
  {{/banner-message}}
{{/if}}
{{#custom-modal-macvlanips-delete confirm=(action 'confirmDelete') resources=infos infosLoading=infosLoading totalLimit=infoTotal modalVisible=showConfirmDeleteModal}}{{/custom-modal-macvlanips-delete}}
