<section class="header clearfix">
  <h1>{{t "harborConfig.title"}}</h1>
</section>

<div class="accordion">
  <div class="accordion-header">
    <div class="expand"></div>
    <div class="title">
      {{#if (eq harborAccountState "syncAccount")}}
      <span class="m-0">{{t "harborConfig.sync.title"}}</span>
      <p class="help-block">{{t "harborConfig.sync.subtitle"}}</p>
      {{else}}
      <span class="m-0">{{t "harborConfig.setting.title"}}</span>
      <p class="help-block">{{t "harborConfig.setting.subtitle"}}</p>
      {{/if}}

    </div>
    {{#if showActionMenu}}
    {{#custom-action-menu class="btn bg-transparent pull-right" resourceActions=configActions menuClick=(action 'handleMenuClick')}} {{/custom-action-menu}}
    {{/if}}
  </div>
  <div class="accordion-content">

    {{#if (eq harborAccountState "waiting")}}
      <section>
        <p>{{t "harborConfig.wait"}}</p>
      </section>
    {{/if}}

    {{#if methodNotSupported}}
      {{banner-message
        icon="icon-alert"
        color="bg-warning mb-10"
        message=(t "imageRepoSection.userConfigPage.methodNotSupported" auth=authMode rancherAuthMode=rancherAuthMode)
      }}
    {{/if}}

    {{#if (eq harborAccountState "syncedAccount")}}
      <section>
        {{top-errors errors=harborAccountErrors}}
        <div class="row">
          <div class="col span-12">
            <label class="acc-label">{{t "harborConfig.form.address.label"}}:</label>
            <span>{{model.harborServer}}</span>
          </div>
          <div class="col span-12">
            <label class="acc-label">{{t "harborConfig.form.username.label"}}:</label>
            <span>{{currentAccount.username}}</span>
          </div>
        </div>
        {{#if hasHarborAccountError}}
          {{save-cancel save=(action "reSyncAccount") cancelDisabled=true createLabel="imageRepoSection.userConfigPage.reSyncAccount" }}
        {{/if}}
      </section>
    {{/if}}

    {{#if (and (eq harborAccountState 'syncAccount') (not methodNotSupported))}}
      <section>
      {{top-errors errors=errors}}
      <div class="row">
        <div class="col span-12">
          <label class="acc-label">{{t "harborConfig.form.username.label"}}</label>
          {{account.username}}
        </div>
      </div>
      {{#if (not isDBAuthMode)}}
        {{#if requiredAuth}}
          <div class="row">
            <div class="col span-12">
              <label class="acc-label">{{t "harborConfig.form.pw.label"}}{{field-required}}</label>
                {{input autocomplete="off" type="password" class="form-control" value=account.password placeholder=(t "harborConfig.form.pw.placeholder")}}
            </div>
          </div>
        {{/if}}

      {{else}}

        {{#if requiredAuth}}
          <div class="row">
            <div class="col span-12">
              <label class="acc-label">{{t "harborConfig.form.email.label"}}{{field-required}}</label>
              {{input autocomplete="off" type="text" class="form-control" value=account.email placeholder=(t "harborConfig.form.email.placeholder")}}
            </div>
          </div>
          <div class="row">
            <div class="col span-12">
              <label class="acc-label">{{t "harborConfig.form.pw.label"}}{{field-required}}</label>
              {{input autocomplete="off" type="password" class="form-control" value=account.password placeholder=(t "harborConfig.form.pw.placeholder")}}
            </div>
          </div>
        {{else}}
          <div class="row">
            <div class="col span-12">
              <label class="acc-label">{{t "harborConfig.form.email.label"}}{{field-required}}</label>
              {{input autocomplete="off" type="text" class="form-control" value=account.email placeholder=(t "harborConfig.form.email.placeholder")}}
            </div>
          </div>
        {{/if}}

      {{/if}}
      {{save-cancel save=(action "syncAccount") cancelDisabled=true createLabel="imageRepoSection.userConfigPage.syncAccount" }}
      </section>
    {{/if}}

    {{#if (eq harborAccountState 'changeAccountPwd')}}
      {{top-errors errors=changeAccountErrors}}
        <div class="row">
          <div class="col span-12">
            <label class="acc-label">{{t "harborConfig.form.address.label"}}:</label>
            <span>{{model.harborServer}}</span>
          </div>
          <div class="col span-12">
            <label class="acc-label">{{t "harborConfig.form.username.label"}}:</label>
            <span>{{currentAccount.username}}</span>
          </div>
        </div>
        {{!-- <div class="row">
          <div class="col span-12">
            <label class="acc-label">{{t "harborConfig.form.email.label"}}{{field-required}}</label>
            {{input autocomplete="off" type="text" class="form-control" value=changeHarborAccountForm.email placeholder=(t "harborConfig.form.email.placeholder")}}
          </div>
        </div> --}}
        <div class="row">
          <div class="col span-12">
            <label class="acc-label">{{t "modalEditPassword.current"}}{{field-required}}</label>
            {{input type="password" class="form-control" value=changeHarborAccountForm.oldPassword placeholder=(t "modalEditPassword.current")}}
          </div>
        </div>
        <div class="row">
          <div class="col span-12">
            <label class="acc-label">{{t "harborConfig.form.newPw.label"}}{{field-required}}</label>
            {{input autocomplete="off" type="password" class="form-control" value=changeHarborAccountForm.newPwd placeholder=(t "harborConfig.form.newPw.placeholder")}}
          </div>
        </div>
        <div class="row">
          <div class="col span-12">
            <label class="acc-label">{{t "harborConfig.form.confirmPw.label"}}{{field-required}}</label>
            {{input type="password" class="form-control" value=changeHarborAccountForm.confirmPwd placeholder=(t "harborConfig.form.confirmPw.placeholder")}}
          </div>
        </div>
        {{save-cancel save=(action "confirmChangeHarborAccount") cancel=(action "cancelChangeHarborAccount") createLabel="imageRepoSection.adminConfigPage.saveHarborConfig" }}
      {{/if}}
  </div>
</div>


