<section class="header clearfix">
  <h1>{{t "harborConfig.title"}}</h1>
</section>

<div class="accordion">
  <div class="accordion-header">
    <div class="expand"></div>
    <div class="title">
      {{#if (and hasHarborRegistry (not accountSynced))}}
      <span class="m-0">{{t "harborConfig.sync.title"}}</span>
      <p class="help-block">{{t "harborConfig.sync.subtitle"}}</p>
      {{else}}
      <span class="m-0">{{t "harborConfig.setting.title"}}</span>
      <p class="help-block">{{t "harborConfig.setting.subtitle"}}</p>
      {{/if}}

    </div>
    {{#if showActionMenu}}
    {{#custom-action-menu class="btn bg-transparent pull-right" resourceActions=configActions menuClick=(action 'handleMenuClick')}} {{/custom-action-menu}}
    {{/if}}
  </div>
  <div class="accordion-content">
    {{#if (not hasHarborRegistry)}}
      <section>
        <p>{{t "harborConfig.wait"}}</p>
      </section>
      {{/if}}
      {{#if (and hasHarborRegistry accountSynced (not changeHarborAccount))}}
      <section>
        {{top-errors errors=harborAccountErrors}}
        <div class="row">
          <div class="col span-12">
            <label class="acc-label">{{t "harborConfig.form.address.label"}}:</label>
            <span>{{model.harborServer}}</span>
          </div>
          <div class="col span-12">
            <label class="acc-label">{{t "harborConfig.form.username.label"}}:</label>
            <span>{{currentAccount.username}}</span>
          </div>
        </div>
        {{#if hasHarborAccountError}}
          {{save-cancel save=(action "reSyncAccount") cancelDisabled=true createLabel="imageRepoSection.userConfigPage.reSyncAccount" }}
        {{/if}}
      </section>
      {{/if}}
      {{#if (and hasHarborRegistry (not accountSynced))}}
      <section>
      {{top-errors errors=errors}}
      <div class="row">
        <div class="col span-6">
          <label class="acc-label">{{t "harborConfig.form.email.label"}}{{field-required}}</label>
          {{#input-or-display editable=accountEditable value=account.email}}
            {{input type="text" class="form-control" value=account.email placeholder=(t "harborConfig.form.email.placeholder")}}
          {{/input-or-display}}
        </div>
        <div class="col span-6">
          <label class="acc-label">{{t "harborConfig.form.pw.label"}}{{field-required}}</label>
          {{#input-or-display editable=accountEditable value=""}}
            {{input type="password" class="form-control" value=account.password placeholder=(t "harborConfig.form.pw.placeholder")}}
          {{/input-or-display}}
        </div>
      </div>

      {{save-cancel save=(action "syncAccount") cancelDisabled=true createLabel="imageRepoSection.userConfigPage.syncAccount" }}
      </section>
      {{/if}}
      {{#if changeHarborAccount}}
      {{top-errors errors=changeAccountErrors}}
        <div class="row">
          <div class="col span-12">
            <label class="acc-label">{{t "harborConfig.form.address.label"}}:</label>
            <span>{{model.harborServer}}</span>
          </div>
          <div class="col span-12">
            <label class="acc-label">{{t "harborConfig.form.username.label"}}:</label>
            <span>{{currentAccount.username}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col span-12">
            <label class="acc-label">{{t "harborConfig.form.email.label"}}{{field-required}}</label>
            {{input type="text" class="form-control" value=changeHarborAccountForm.email placeholder=(t "harborConfig.form.email.placeholder")}}
          </div>
        </div>
        <div class="row">
          <div class="col span-12">
            <label class="acc-label">{{t "harborConfig.form.newPw.label"}}</label>
            {{input type="password" class="form-control" value=changeHarborAccountForm.newPwd placeholder=(t "harborConfig.form.newPw.placeholder")}}
          </div>
        </div>
        <div class="row">
          <div class="col span-12">
            <label class="acc-label">{{t "harborConfig.form.confirmPw.label"}}</label>
            {{input type="password" class="form-control" value=changeHarborAccountForm.confirmPwd placeholder=(t "harborConfig.form.confirmPw.placeholder")}}
          </div>
        </div>
        {{save-cancel save=(action "confirmChangeHarborAccount") cancel=(action "cancelChangeHarborAccount") createLabel="imageRepoSection.adminConfigPage.saveHarborConfig" }}
      {{/if}}
  </div>
</div>


