<section class="header clearfix {{if showMetricsTab "has-tabs p-0"}}">
  {{#if showMetricsTab}}
    <ul class="tab-nav">
      <li>
        {{#link-to
          "clusters.index.list"
        }}
          {{t "clustersPage.header"}}
        {{/link-to}}
      </li>
      <li>
        {{#link-to
          "clusters.index.metrics"
        }}
          {{t "clustersPage.metricsHeader"}}
        {{/link-to}}
      </li>
    </ul>
  {{else}}
    <h1 class="pull-left">
      {{t "clustersPage.header"}}
    </h1>
  {{/if}}

  <div class="right-buttons">
    {{#if showMetricsTab}}
      <div class="inline-block vertical-bottom mr-20">
        <a
          class="inline-block"
          href={{globalMonitoringUrl}}
          target="_blank"
          rel="nofollow noopener noreferrer"
        >
          <div class="global-monitoring"></div>
        </a>

        <a
          class="inline-block"
          href={{grafanaUrl}}
          target="_blank"
          rel="nofollow noopener noreferrer"
        >
          <div class="grafana"></div>
        </a>

        <a
          class="inline-block"
          href={{thanosUrl}}
          target="_blank"
          rel="nofollow noopener noreferrer"
        >
          <div class="thanos"></div>
        </a>
      </div>
    {{/if}}

    {{#link-to
       "clusters.new"
       class="btn btn-sm bg-primary"
       disabled=(rbac-prevents resource="cluster" scope="global" permission="create")
    }}
      {{t "clustersPage.newCluster"}}
    {{/link-to}}
  </div>
</section>

{{outlet}}
