<section class="header clearfix">
  <h1 class="pull-left">审计日志</h1>
</section>
<section></section>
<section class="mt-30">
  {{#custom-table
       tableClassNames="bordered"
       hasBulkActions=false
       search=false
       paging=false
       primaryKeyName="id"
       sortChanged=(action "sortChanged")
       headers=headers
       availableActions=availableActions
       data=rows
       as |sortable kind obj dt|
  }}
    {{#if (eq kind "row")}}
      <tr class="main-row">
        <td data-title="{{dt.userID}}">
          {{obj.userID}}
        </td>
        <td data-title="{{dt.requestTimestamp}}">
          {{date-calendar obj.requestTimestamp}}
        </td>
        <td data-title="{{dt.clusterId}}">
          {{obj.clusterId}}
        </td>
        <td data-title="{{dt.requestResType}}">
          {{obj.requestResType}}
        </td>
        <td data-title="{{dt.requestResId}}">
          {{obj.requestResId}}
        </td>
      </tr>
    {{else if (eq kind "nomatch")}}
      <tr><td colspan="{{sortable.fullColspan}}" class="text-center text-muted lacsso pt-20 pb-20">暂无匹配的数据</td></tr>
    {{else if (eq kind "norows")}}
      <tr><td colspan="{{sortable.fullColspan}}" class="text-center text-muted lacsso pt-20 pb-20">暂无数据</td></tr>
    {{/if}}
  {{/custom-table}}
</section>